<!DOCTYPE HTML>
<html lang="ko-KR">
<!-- 헤더 -->

<head>
	<meta charset="UTF-8">
	<title>{{site.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1">
	<meta name="author" content="Grokeen">
	<meta name="description" content="new start">

	<link rel="icon" href="/favicon.ico">
	<!-- 20230824 운영에서 오류나던 부분 img 디렉토리에서 변경 -->
	<link rel="apple-touch-icon" href="/pacman.jpg">
	<link rel="apple-touch-icon-precomposed" href="/pacman.jpg">

	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<script src="/js/jquery-2.1.0.min.js"></script>

	<!-- 20230821 깃허브 빌드 중 보안 CSP가 걸려서 작성 -->
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://example.com;">

</head>


<body>

	<!-- 본문 시작 -->
	<div>
		<!-- 로고 사진 -->
		<div id="imglogo">
			<a href="/">
				<img src="/img/logo.svg" alt="Grokeen" title="Grokeen" />
			</a>
		</div>

		<!-- 이름/상태 메세지 -->
		<div id="textlogo">
			<h1 class="site-name"><a href="/" title="Grokeen">Grokeen</a></h1>
			<h2 class="blog-motto">슈렉도 헐크처럼</h2>
		</div>


		<div class="navbar">
			<a class="navbutton navmobile" href="#" title="나도몰라2">
			</a>
		</div>

		<!-- 상단 카테로그 -->
		<nav class="animated">
			<ul>
				<li><a href="/">Home</a></li>
				<!-- <li><a href="tag_EX.html">Post</a></li> -->
				<li>

					<!-- 검색 폼 -->
					<form class="search" action="//google.com/search" method="get" accept-charset="utf-8">
						<label>Search</label>
						<input type="text" id="search" name="q" autocomplete="off" maxlength="20"
							placeholder="search" />
						<input type="hidden" name="q" value="site:weibo.com/u/1839008305">
					</form>

				</li>
			</ul>
		</nav>

		<!-- 본문 끝 -->
	</div>

</body>

</html>