
<!-- "pin"이 "true"인 모든 포스트를 allPost에 할당. -->
{% assign allPost = site.posts | where: "pin", "true" %}

<!-- 빈 배열 선언 -->
{% assign posts = "" | split: "" %}

<!-- 페이징을 위해 -->
<!--  offset을 계산하여 현재 페이지의 오프셋을 구한 다음, 
    pinned 배열의 일부를 posts 배열에 추가합니다. 이후, 
    default 배열의 일부도 추가 -->
{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}


<!-- 포스트 안에 값 널기 -->
{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

<!-- 포스트 안에 값 널기 -->
{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}


<!-- for 문으로 출력 -->
{% for post in posts %} 
<section class="post" itemscope itemprop="blogPost">
    <a href="{{post.url|relative_url}}" title="{{post.title}}" itemprop="url">

      <h1 itemprop="name">
        {{post.title}}
      </h1>

      <p itemprop="description">
        {% include no-linenos.html content=post.content %}
        {{content | markdownify | strip_html | truncate: 200 | escape}}
      </p>

      <time datetime="{% include read-time.html content=post.content %}" itemprop="datePublished">
        {% include read-time.html content=post.content %}
      </time>
    </a>
    {{post}}
    ㄴㅁㅇㄴㅁ
  </section>
{% endfor %}


<!-- 페이징 처리 -->
<br>
페이징
{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %} 