<!DOCTYPE HTML>
<html lang="ko-KR">

<head>

</head>

<body>


    <!-- 우측바 첫 번째 -->
    <div class="openaside">
        <a class="navbutton" href="#" title="니도몰라1"></a>
    </div>

    <div id="asidepart">
        <div class="closeaside">
            <a class="closebutton" href="#" title="Menu"></a>
        </div>
        <aside class="clearfix">


            <div class="categorieslist">
                <p class="asidetitle">Menu</p>
                <ul>

                    <li><a href="/categories/Diary/" title="Diary">Diary<sup>1</sup></a></li>

                </ul>
            </div>


            <!-- 우측바 Tag 카테고리 -->
            <div class="tagslist">
                <p class="asidetitle">Contact me</p>
                <ul class="clearfix">
                    <li><a href="https://www.instagram.com/ygre_en/" title="instagram">Instagram<sup>1</sup></a></li>
                    <li><a href="https://twitter.com/groke_en" title="twitter">Twitter<sup>1</sup></a></li>
                    <li><a href="https://www.reddit.com/user/Embarrassed_Edge_378" title="reddit">Reddit<sup>1</sup></a></li>
                    <li><a href="https://github.com/Grokeen" title="github">Github<sup>1</sup></a></li>
                </ul>
            </div>

            <div class="rsspart">
                <a href="null" target="_blank" title="rss">RSS Reservation</a>
            </div>

        </aside>
    </div>



</body>

</html>