---
layout: default
---
<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
	<title>{{site.title}}</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://example.com;">
    <link rel="apple-touch-icon" href="/pacman.jpg">
	<link rel="apple-touch-icon-precomposed" href="/pacman.jpg">
    <link rel="stylesheet" href="/css/cyworld.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="containerdetted">
            <div class="containermain">
                <!--  -->
                <div class="content">
                    <div class="main">
                        <div class="mini-room">
                            <img src="img/cyworld/cyworld.jpeg" alt="Mini Room">
                                <audio controls autoplay>
                                    <source src="audio/처음 뵙겠습니다(with 휘성)_지나.mp3" type="audio/mpeg">

                                </audio>
                            </img>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="sidebar">
                    <div class="menu">
                        <ul class="mainmenu">
                            <li><a href="https://github.com/Grokeen">홈</a></li>
                        </ul>
                        <ul>
                            <li><a href="/url.html/homeindex/index.html">미니룸</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">일촌평</a></li>
                        </ul>
                        <ul>
                            <li><a href="mailto:ygreen0516@gmail.com">편지함</a></li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <div class="plus">
                    <div class="plusimg">
                        <img src="https://github-readme-stats.vercel.app/api/top-langs?username=Grokeen&show_icons=true&locale=en&layout=compact" alt="Grokeen" style="width:30%"/>
                    </div>
                    <div class="plustext">
                        🖥️ Frontend : React<br/>
                        🔌 Backend : Spring, Django
                    </div>
                    <div class="plusinfo">
                        <img src="https://img.shields.io/github/followers/Grokeen?style=social" style="background-color: white"/>
                        <img src="https://img.shields.io/twitter/follow/groke_en"/>
                        <img src="https://komarev.com/ghpvc/?username=Grokeen&style=flat-square"/>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
</body>


</html>